header {
	@extend %width-center;
	@extend %pad-tb;
	
	margin-top: 1em;
	color: $color-text-trans;
}

#portfolio {
	@extend %pad-tb;
	background-color: $color-sec;
	
	@include set-size_widemq();
}

#education {
	@extend %pad-tb;
}

#contact {
	@extend %pad-tb;
	
	background-color: $color-sec;
}

footer {
	background-color: $color-sec;
}
